<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Daftar Restoran se-Kota Medan">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="icon" href="../public/favicon.ico">
    <link rel="apple-touch-icon" href="/icons/192x192.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="./app.webmanifest">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant App</title>
</head>
<body>
    <!-- Skip to Content -->
    <a href="#mainContent" class="skip-link">Skip to Content</a>
    
    <!-- App Bar -->
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Restaurant App</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/daftar-resto">List Restoran</a></li>
                <li><a href="#/like">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/annisah-husni-daulay">About Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Element -->
    <section class="hero">
        <picture>
            <source media="(max-width: 1200px)" srcset="./images/heros/hero-image_2-1200.jpg" type="image/jpeg">
            <img data-src="./images/heros/hero-image_2-1200.jpg" alt="Delicious meals at Bunda Resto" class="lazyload">
        </picture>
    </section>

    <main id="mainContent" tabindex="-1">

    </main>
   
    <!-- Footer -->
    <footer>
        <p>Copyright © 2024 - Restaurant APP</p>
    </footer>
</body>
</html>
